In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("iris.csv",header=None,names=["sepal_length","sepal_width","petal_length","petal_width","flower_type"])

In [3]:
data.drop(0,inplace=True)

In [4]:
data.head()

  sepal_length sepal_width petal_length petal_width  flower_type
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9         3.0          1.4         0.2  Iris-setosa
3          4.7         3.2          1.3         0.2  Iris-setosa
4          4.6         3.1          1.5         0.2  Iris-setosa
5          5.0         3.6          1.4         0.2  Iris-setosa

In [5]:
data.tail()

    sepal_length sepal_width petal_length petal_width     flower_type
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
list(data.columns)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower_type']

In [8]:
data[["flower_type"]]

        flower_type
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
5       Iris-setosa
..              ...
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica

[150 rows x 1 columns]

In [9]:
data.dtypes

sepal_length    object
sepal_width     object
petal_length    object
petal_width     object
flower_type     object
dtype: object

In [10]:
data.describe()

       sepal_length sepal_width petal_length petal_width  flower_type
count           150         150          150         150          150
unique           35          23           43          22            3
top             5.0         3.0          1.5         0.2  Iris-setosa
freq             10          26           14          28           50

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    object
 1   sepal_width   150 non-null    object
 2   petal_length  150 non-null    object
 3   petal_width   150 non-null    object
 4   flower_type   150 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

In [12]:
data.head()

  sepal_length sepal_width petal_length petal_width  flower_type
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9         3.0          1.4         0.2  Iris-setosa
3          4.7         3.2          1.3         0.2  Iris-setosa
4          4.6         3.1          1.5         0.2  Iris-setosa
5          5.0         3.6          1.4         0.2  Iris-setosa

In [16]:
data[(data["flower_type"] == "Iris-setosa") & (data["sepal_width"] == "3.5")]

   sepal_length sepal_width petal_length petal_width  flower_type
1           5.1         3.5          1.4         0.2  Iris-setosa
18          5.1         3.5          1.4         0.3  Iris-setosa
28          5.2         3.5          1.5         0.2  Iris-setosa
37          5.5         3.5          1.3         0.2  Iris-setosa
41          5.0         3.5          1.3         0.3  Iris-setosa
44          5.0         3.5          1.6         0.6  Iris-setosa

In [22]:
data[(data["flower_type"] == "Iris-versicolor") & (data["sepal_length"] == "7.0")]

   sepal_length sepal_width petal_length petal_width      flower_type
51          7.0         3.2          4.7         1.4  Iris-versicolor

In [26]:
data[(data["petal_length"] == "1.5") & (data["flower_type"] == "Iris-setosa")]

   sepal_length sepal_width petal_length petal_width  flower_type
4           4.6         3.1          1.5         0.2  Iris-setosa
8           5.0         3.4          1.5         0.2  Iris-setosa
10          4.9         3.1          1.5         0.1  Iris-setosa
11          5.4         3.7          1.5         0.2  Iris-setosa
16          5.7         4.4          1.5         0.4  Iris-setosa
20          5.1         3.8          1.5         0.3  Iris-setosa
22          5.1         3.7          1.5         0.4  Iris-setosa
28          5.2         3.5          1.5         0.2  Iris-setosa
32          5.4         3.4          1.5         0.4  Iris-setosa
33          5.2         4.1          1.5         0.1  Iris-setosa
35          4.9         3.1          1.5         0.1  Iris-setosa
38          4.9         3.1          1.5         0.1  Iris-setosa
40          5.1         3.4          1.5         0.2  Iris-setosa
49          5.3         3.7          1.5         0.2  Iris-setosa

In [28]:
data[data["flower_type"] == "Iris-virginica"]

    sepal_length sepal_width petal_length petal_width     flower_type
101          6.3         3.3          6.0         2.5  Iris-virginica
102          5.8         2.7          5.1         1.9  Iris-virginica
103          7.1         3.0          5.9         2.1  Iris-virginica
104          6.3         2.9          5.6         1.8  Iris-virginica
105          6.5         3.0          5.8         2.2  Iris-virginica
106          7.6         3.0          6.6         2.1  Iris-virginica
107          4.9         2.5          4.5         1.7  Iris-virginica
108          7.3         2.9          6.3         1.8  Iris-virginica
109          6.7         2.5          5.8         1.8  Iris-virginica
110          7.2         3.6          6.1         2.5  Iris-virginica
111          6.5         3.2          5.1         2.0  Iris-virginica
112          6.4         2.7          5.3         1.9  Iris-virginica
113          6.8         3.0          5.5         2.1  Iris-virginica
114          5.7         2.5          5.0         2.0  Iris-virginica
115          5.8         2.8          5.1         2.4  Iris-virginica
116          6.4         3.2          5.3         2.3  Iris-virginica
117          6.5         3.0          5.5         1.8  Iris-virginica
118          7.7         3.8          6.7         2.2  Iris-virginica
119          7.7         2.6          6.9         2.3  Iris-virginica
120          6.0         2.2          5.0         1.5  Iris-virginica
121          6.9         3.2          5.7         2.3  Iris-virginica
122          5.6         2.8          4.9         2.0  Iris-virginica
123          7.7         2.8          6.7         2.0  Iris-virginica
124          6.3         2.7          4.9         1.8  Iris-virginica
125          6.7         3.3          5.7         2.1  Iris-virginica
126          7.2         3.2          6.0         1.8  Iris-virginica
127          6.2         2.8          4.8         1.8  Iris-virginica
128          6.1         3.0          4.9         1.8  Iris-virginica
129          6.4         2.8          5.6         2.1  Iris-virginica
130          7.2         3.0          5.8         1.6  Iris-virginica
131          7.4         2.8          6.1         1.9  Iris-virginica
132          7.9         3.8          6.4         2.0  Iris-virginica
133          6.4         2.8          5.6         2.2  Iris-virginica
134          6.3         2.8          5.1         1.5  Iris-virginica
135          6.1         2.6          5.6         1.4  Iris-virginica
136          7.7         3.0          6.1         2.3  Iris-virginica
137          6.3         3.4          5.6         2.4  Iris-virginica
138          6.4         3.1          5.5         1.8  Iris-virginica
139          6.0         3.0          4.8         1.8  Iris-virginica
140          6.9         3.1          5.4         2.1  Iris-virginica
141          6.7         3.1          5.6         2.4  Iris-virginica
142          6.9         3.1          5.1         2.3  Iris-virginica
143          5.8         2.7          5.1         1.9  Iris-virginica
144          6.8         3.2          5.9         2.3  Iris-virginica
145          6.7         3.3          5.7         2.5  Iris-virginica
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

In [33]:
len(data[data["flower_type"] == "Iris-virginica"])

50

In [34]:
data[(data["flower_type"] == "Iris-virginica") &(data["sepal_length"] == "7.7")]

    sepal_length sepal_width petal_length petal_width     flower_type
118          7.7         3.8          6.7         2.2  Iris-virginica
119          7.7         2.6          6.9         2.3  Iris-virginica
123          7.7         2.8          6.7         2.0  Iris-virginica
136          7.7         3.0          6.1         2.3  Iris-virginica

In [40]:
data[data["petal_length"] == max(data["petal_length"])]

    sepal_length sepal_width petal_length petal_width     flower_type
119          7.7         2.6          6.9         2.3  Iris-virginica

In [44]:
data[data["sepal_length"] == max(data["sepal_length"])]

    sepal_length sepal_width petal_length petal_width     flower_type
132          7.9         3.8          6.4         2.0  Iris-virginica

In [45]:
data["new_colm"] = 56

In [46]:
data.head()

  sepal_length sepal_width petal_length petal_width  flower_type  new_colm
1          5.1         3.5          1.4         0.2  Iris-setosa        56
2          4.9         3.0          1.4         0.2  Iris-setosa        56
3          4.7         3.2          1.3         0.2  Iris-setosa        56
4          4.6         3.1          1.5         0.2  Iris-setosa        56
5          5.0         3.6          1.4         0.2  Iris-setosa        56

In [47]:
data["sepal_petel"] = data["sepal_length"] + data["petal_length"]

In [49]:
data.head()

,sepal_length,sepal_width,petal_length,petal_width,flower_type,new_colm,sepal_petel
1,5.1,3.5,1.4,0.2,Iris-setosa,56,5.11.4
2,4.9,3.0,1.4,0.2,Iris-setosa,56,4.91.4
3,4.7,3.2,1.3,0.2,Iris-setosa,56,4.71.3
4,4.6,3.1,1.5,0.2,Iris-setosa,56,4.61.5
5,5.0,3.6,1.4,0.2,Iris-setosa,56,5.01.4

In [51]:
data.drop("new_colm",axis=1,inplace=True)

In [52]:
data.head(2)

  sepal_length sepal_width petal_length petal_width  flower_type sepal_petel
1          5.1         3.5          1.4         0.2  Iris-setosa      5.11.4
2          4.9         3.0          1.4         0.2  Iris-setosa      4.91.4

In [55]:
data.iloc[1]

sepal_length            4.9
sepal_width             3.0
petal_length            1.4
petal_width             0.2
flower_type     Iris-setosa
sepal_petel          4.91.4
Name: 2, dtype: object

In [58]:
data.loc[1]

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
flower_type     Iris-setosa
sepal_petel          5.11.4
Name: 1, dtype: object

In [59]:
data.loc[111:117]

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_petel
111,6.5,3.2,5.1,2.0,Iris-virginica,6.55.1
112,6.4,2.7,5.3,1.9,Iris-virginica,6.45.3
113,6.8,3.0,5.5,2.1,Iris-virginica,6.85.5
114,5.7,2.5,5.0,2.0,Iris-virginica,5.75.0
115,5.8,2.8,5.1,2.4,Iris-virginica,5.85.1
116,6.4,3.2,5.3,2.3,Iris-virginica,6.45.3
117,6.5,3.0,5.5,1.8,Iris-virginica,6.55.5

In [60]:
data.loc[1:3]

  sepal_length sepal_width petal_length petal_width  flower_type sepal_petel
1          5.1         3.5          1.4         0.2  Iris-setosa      5.11.4
2          4.9         3.0          1.4         0.2  Iris-setosa      4.91.4
3          4.7         3.2          1.3         0.2  Iris-setosa      4.71.3

In [61]:
data.loc[100:103,["flower_type","sepal_petel"]]

         flower_type sepal_petel
100  Iris-versicolor      5.74.1
101   Iris-virginica      6.36.0
102   Iris-virginica      5.85.1
103   Iris-virginica      7.15.9

In [62]:
data.loc[[1,150]]

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_petel
1,5.1,3.5,1.4,0.2,Iris-setosa,5.11.4
150,5.9,3.0,5.1,1.8,Iris-virginica,5.95.1

In [66]:
data.groupby("flower_type").count()

,sepal_length,sepal_width,petal_length,petal_width,sepal_petel
flower_type,,,,,
Iris-setosa,50,50,50,50,50
Iris-versicolor,50,50,50,50,50
Iris-virginica,50,50,50,50,50

In [73]:
mini = data.iloc[0:5,0:5]

In [74]:
mini

  sepal_length sepal_width petal_length petal_width  flower_type
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9         3.0          1.4         0.2  Iris-setosa
3          4.7         3.2          1.3         0.2  Iris-setosa
4          4.6         3.1          1.5         0.2  Iris-setosa
5          5.0         3.6          1.4         0.2  Iris-setosa

In [76]:
new = pd.concat([data,mini],axis=0)

In [77]:
new

   sepal_length sepal_width petal_length petal_width  flower_type sepal_petel
1           5.1         3.5          1.4         0.2  Iris-setosa      5.11.4
2           4.9         3.0          1.4         0.2  Iris-setosa      4.91.4
3           4.7         3.2          1.3         0.2  Iris-setosa      4.71.3
4           4.6         3.1          1.5         0.2  Iris-setosa      4.61.5
5           5.0         3.6          1.4         0.2  Iris-setosa      5.01.4
..          ...         ...          ...         ...          ...         ...
1           5.1         3.5          1.4         0.2  Iris-setosa         NaN
2           4.9         3.0          1.4         0.2  Iris-setosa         NaN
3           4.7         3.2          1.3         0.2  Iris-setosa         NaN
4           4.6         3.1          1.5         0.2  Iris-setosa         NaN
5           5.0         3.6          1.4         0.2  Iris-setosa         NaN

[155 rows x 6 columns]

In [78]:
new = pd.concat([data,mini],axis=1)

In [79]:
new

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_petel,sepal_length,sepal_width,petal_length,petal_width,flower_type
1,5.1,3.5,1.4,0.2,Iris-setosa,5.11.4,5.1,3.5,1.4,0.2,Iris-setosa
2,4.9,3.0,1.4,0.2,Iris-setosa,4.91.4,4.9,3.0,1.4,0.2,Iris-setosa
3,4.7,3.2,1.3,0.2,Iris-setosa,4.71.3,4.7,3.2,1.3,0.2,Iris-setosa
4,4.6,3.1,1.5,0.2,Iris-setosa,4.61.5,4.6,3.1,1.5,0.2,Iris-setosa
5,5.0,3.6,1.4,0.2,Iris-setosa,5.01.4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,6.75.2,NaN,NaN,NaN,NaN,NaN
147,6.3,2.5,5.0,1.9,Iris-virginica,6.35.0,NaN,NaN,NaN,NaN,NaN
148,6.5,3.0,5.2,2.0,Iris-virginica,6.55.2,NaN,NaN,NaN,NaN,NaN
149,6.2,3.4,5.4,2.3,Iris-virginica,6.25.4,NaN,NaN,NaN,NaN,NaN
150,5.9,3.0,5.1,1.8,Iris-virginica,5.95.1,NaN,NaN,NaN,NaN,NaN

In [80]:
new.dropna(axis=1)

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_petel
1,5.1,3.5,1.4,0.2,Iris-setosa,5.11.4
2,4.9,3.0,1.4,0.2,Iris-setosa,4.91.4
3,4.7,3.2,1.3,0.2,Iris-setosa,4.71.3
4,4.6,3.1,1.5,0.2,Iris-setosa,4.61.5
5,5.0,3.6,1.4,0.2,Iris-setosa,5.01.4
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,6.75.2
147,6.3,2.5,5.0,1.9,Iris-virginica,6.35.0
148,6.5,3.0,5.2,2.0,Iris-virginica,6.55.2
149,6.2,3.4,5.4,2.3,Iris-virginica,6.25.4
150,5.9,3.0,5.1,1.8,Iris-virginica,5.95.1

In [82]:
data.head()

  sepal_length sepal_width petal_length petal_width  flower_type sepal_petel
1          5.1         3.5          1.4         0.2  Iris-setosa      5.11.4
2          4.9         3.0          1.4         0.2  Iris-setosa      4.91.4
3          4.7         3.2          1.3         0.2  Iris-setosa      4.71.3
4          4.6         3.1          1.5         0.2  Iris-setosa      4.61.5
5          5.0         3.6          1.4         0.2  Iris-setosa      5.01.4

In [93]:
data["flower_type"] = data["flower_type"].apply(lambda x:x.replace(" ",""))

In [94]:
data

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_petel
1,5.1,3.5,1.4,0.2,Irissetosa,5.11.4
2,4.9,3.0,1.4,0.2,Irissetosa,4.91.4
3,4.7,3.2,1.3,0.2,Irissetosa,4.71.3
4,4.6,3.1,1.5,0.2,Irissetosa,4.61.5
5,5.0,3.6,1.4,0.2,Irissetosa,5.01.4
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Irisvirginica,6.75.2
147,6.3,2.5,5.0,1.9,Irisvirginica,6.35.0
148,6.5,3.0,5.2,2.0,Irisvirginica,6.55.2
149,6.2,3.4,5.4,2.3,Irisvirginica,6.25.4
150,5.9,3.0,5.1,1.8,Irisvirginica,5.95.1

In [116]:
def test(x):
    if x == None:
        return "good"

In [117]:
data["sepal_length"] = data["sepal_length"].apply(test)

In [118]:
data

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_petel
1,good,3.5,1.4,0.2,Irissetosa,5.11.4
2,good,3.0,1.4,0.2,Irissetosa,4.91.4
3,good,3.2,1.3,0.2,Irissetosa,4.71.3
4,good,3.1,1.5,0.2,Irissetosa,4.61.5
5,good,3.6,1.4,0.2,Irissetosa,5.01.4
...,...,...,...,...,...,...
146,good,3.0,5.2,2.3,Irisvirginica,6.75.2
147,good,2.5,5.0,1.9,Irisvirginica,6.35.0
148,good,3.0,5.2,2.0,Irisvirginica,6.55.2
149,good,3.4,5.4,2.3,Irisvirginica,6.25.4
150,good,3.0,5.1,1.8,Irisvirginica,5.95.1